.chat-footer,.chat-footer:focus {
    position: fixed !important;
    bottom: 54px !important;
                left: 0;
    width: 100%;
    z-index: 100;
    background-color:burlywood;
}

.message{
    padding:  0 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.other-message{
   color:black;
}

.my-message{
    color:black;
}

.time{
color:gray;
font-size: small;
margin-top: 5px;
}

.msg{
    background-color: #f1f1f1;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 4px;
}


ion-button{
    margin-top: 11px;
    height: 33px;
    width: 40px;
}

