.labelStyle{
    color: lightslategrey !important;
}
.imgStyle{
    text-align: center;
    margin: 10px;
    
}
ion-col.my-thin-col {
    flex: 0 0 4px;
    padding:0;
    margin-right:10px;
  }
  ion-col.my-thin-column {
    flex: 0 0 5px;
    padding:0;
    margin-right:25px;
    margin-top: 5px;
  }
  
 