<ion-header>
  <app-header [data]="headerData"></app-header>
</ion-header>

<ion-content>
  <form [formGroup]="pswdForm" class="p-10">
    <ion-item>
      <ion-label color="custom" position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="custom" position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="cnfpassword"></ion-input>
    </ion-item>
    <ion-label *ngIf="pswdForm.controls['cnfpassword'].errors?.confirmedValidator" > 
      <p class="color">Password and Confirm password did not match.</p> 
    </ion-label><br> 
   <small style="padding:10px"><strong>Note : Password min length should be 4 character's.</strong></small>
    <ion-button class="m-10" expand="block" (click)="submitPassword()" color="primary" [disabled]="!pswdForm.valid">
      Submit
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>