

<ion-content>
 
  <img class="image" src="assets/images/logo.png">
  <form  [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
    <h4><strong> Parent-Sign In</strong></h4>
    <ion-item>
      <ion-label position="floating">Userid</ion-label>
      <ion-input class="userid" type="text" formControlName="user_id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input class="password" type="password" formControlName="password"></ion-input>
    </ion-item>
    <div  class="mt-10">
    <ion-button type="submit"  expand="block" [disabled]="!loginForm.valid">LOGIN</ion-button>
  </div>
  </form>
</ion-content>
